
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2ecc71; /* Use a professional color */
    padding: 6rem; /* Increase the padding for better spacing and height */
    height: 180px; /* Set a specific height for the footer */
  }
  
  /* ... other styles remain unchanged ... */
  
  .footer-logo-container {
    max-width: 150px;
    margin-top: -20%;
    margin-left: 50%;
    display: flex;
  align-items: center;
  justify-content: center;

  }
  
  .footer-icons {
    margin-top: 1.3rem;
    margin-left: 50%;
    
  }
  .footer-icons p {
    margin-left: 0%;
    margin-right: 30px;
    white-space: nowrap;

  }
  
  .footer-icons svg {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #333; /* Use a darker color for icons */
    cursor: pointer;
  }

  /* .footer-section-one {
    border: 2px solid blue;
  } */
  .footer-section-two {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .footer-section-columns {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }
  .footer-section-columns P {
    margin: 0.25rem 0rem;
    font-weight: 600;
    color: #555;
    cursor: pointer;
  }
  .footer-section-columns h1 {
    font-weight: 600;
    margin-bottom: 10px;
  }