.nav{
    width: 100%;
    height: 100%;
    margin-top: 1%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.nav .leftSide{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.nav .leftSide img{
    width: 7%;
}
.nav .leftSide .logo{
    background-color: rgb(0, 255, 68);
    width: 4%;
}
.nav .rightSide{
    flex: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: px;
    position: relative;
    left: 10px;
    gap: 10px; 
}
.rightSide a {
  text-decoration: none;
  margin: 2px;
  color: #333;
  padding: 8px 12px;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    height: 4px;
    width: 70%;
    background-color: rgb(0, 255, 68);
    position: absolute;
    bottom: -1px;
    left: 10px;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }

  &:hover::before,
  &:active::before {
    transform: scaleX(1);
  }

  &:active {
    color: green;
  }
}
  
/* .rightSide{
    a {
        text-decoration: none;
        color: #333;
        padding: 8px 12px;
       
        &::before{
            content : '';
            display: inline-block;
            height: 4px;
            width: 30%;
            background-color: rgb(0, 255, 68);
            position: absolute;
            bottom :-10px;
            left: 0px;
            transform: scaleX(0);
            transition: transform 0.5s ease-in-out;
            
    
        }
        &:hover{
           &::before {
                transform: scaleX(1);
            }
        }
        
      }
      
    
}
   */
    /* border: 1px solid #ddd; */
        /* border-radius: 4px; */