.Principale {
  display: flex;
  justify-content : center;
  height: 1169px;
  margin: 0px 40px;
  /* background-color: burlywood; */
}


/* ================ principal right Section ================  */

.Principale-imgs {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: 50%;

  /* justify-content: center; */
}

.Principale-img {
  position: absolute;
  width: 80%;
  height: auto;
  margin-top: 160px;
  right: 200px;
}
/* ================ principal left Section ================  */

.Principale-Contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}


.Principale-Content0 {
  color: #000;
  width: 596px;
  font-family: Inter;
  font-size: 62px;
  font-style: normal;
  font-weight: 800;
  line-height: 145.523%; 
  text-align: left;
  margin-bottom: 40px;
  margin-left: 300px;

}

.Principale-Content1 {
  color: #4A4A4A;
  width: 622px;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 170.5%;
  text-align: left; 
  margin-left: 300px;
  margin-bottom: 50px;

}

.principale-order {
  width: 229px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  border-radius: 40px;
  background: #39DB4A;
  box-shadow: -2px 22px 38px 0px rgba(142, 255, 154, 0.50);
  margin-left: 300px;
}

.principale-order-title {
  color: white;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: auto; /* Centre le texte verticalement */
}

.Principale-food {
  color: #39DB4A;
  font-family: Inter;
  font-size: 62px;
  font-style: normal;
  font-weight: 800;
  line-height: 145.523%;
}
